<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>名片信息</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--微信UI-->
    <link href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">

</head>
<body>
<!-- 基本信息 -->
<h1>title: {{ card.title }}</h1>
<p>name: {{ card.name }}</p>
<p>phone: {{ card.phone }}</p>
<p>qq: {{ card.qq }}</p>
<p>wechat: {{ card.wechat }}</p>
<p>email: {{ card.email }}</p>
<p>address: {{ card.address }}</p>

<!-- 展示图片 -->
<!--<p>image0: {{ card.image0 }}</p>-->
<!--<p>image1: {{ card.image1 }}</p>-->
<!--<p>image2: {{ card.image2 }}</p>-->
<!--<p>image3: {{ card.image3 }}</p>-->
<!--<p>image4: {{ card.image4 }}</p>-->
<!--<p>image5: {{ card.image5 }}</p>-->
<!--<p>image6: {{ card.image6 }}</p>-->
<!--<p>image7: {{ card.image7 }}</p>-->
<!--<p>image8: {{ card.image8 }}</p>-->
<!--<p>image9: {{ card.image9 }}</p>-->

</body>
</html>