<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>

<!-- 基本信息 -->
<h1>title: {{ card.title }}</h1>
<p>name: {{ card.name }}</p>
<p>phone: {{ card.phone }}</p>
<p>qq: {{ card.qq }}</p>
<p>wechat: {{ card.wechat }}</p>
<p>email: {{ card.email }}</p>
<p>address: {{ card.email }}</p>

<!-- 展示图片 -->
<p>image0: <img src='/media/{{ card.image0 }}'></p>
<p>image1: <img src='/media/{{ card.image1 }}'></p>
<p>image2: <img src='/media/{{ card.image2 }}'></p>
<p>image3: <img src='/media/{{ card.image3 }}'></p>
<p>image4: <img src='/media/{{ card.image4 }}'></p>
<p>image5: <img src='/media/{{ card.image5 }}'></p>
<p>image6: <img src='/media/{{ card.image6 }}'></p>
<p>image7: <img src='/media/{{ card.image7 }}'></p>
<p>image8: <img src='/media/{{ card.image8 }}'></p>
<p>image9: <img src='/media/{{ card.image9 }}'></p>

</body>
</html>