<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
 <!--微信UI-->
    <link href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">

    <title>Home</title>
</head>
<body>

<table>
    <tr>
        <td><a href="{% url 'card:login' %}">登录</a></td>
        <td><a href="{% url 'card:register' %}">注册</a></td>
        <td><a href="{% url 'card:leave' %}">退出登陆</a></td>
        <td><a href="{% url 'card:edit' %}"> 创建个人名片</a></td>
        <td>{{ message }}</td>
    </tr>
</table>



<div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">标题一</h4>
                    <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>

                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">标题二</h4>
                    <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>
</div>


   <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__links">
                <a class="weui-footer__link" href="javascript:home();">Intelligent Card System</a>
            </p>
            <p class="weui-footer__text">Copyright © 2017 S.S.H & Jerry</p>
        </div>
</body>
</html>