<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='utf-8'>
 <!--微信UI-->
    <link href="https://cdn.bootcss.com/weui/1.1.1/style/weui.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>用户登陆</title>
</head>
<body>



<span style="color: green;">{{ message }}</span>
 <div class="container">
<form method="post" action="{% url 'card:login' %}" class="form-signin">
 <h2 class="form-signin-heading">用户登陆</h2>
    <br>用户名: <br>
    <input type="text" name="username" id="username" class="form-control" placeholder="请输入用户名">
    <span id="error1" style="color: red;">{{ error1 }}</span>
    <br>密码: <br>
    <input type="password" name="password" id="password" class="form-control" placeholder="请输入密码">
    <span id="error2" style="color: red;">{{ error2 }}</span>
    <div class="checkbox">
                <label ><input type="checkbox" value="remember-me">Remember me</input></label>
            </div>
    <input type="submit" value="登陆" class="btn btn-lg btn-primary btn-block">
</form>
</div>

 <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__links">
                <a class="weui-footer__link" href="javascript:home();">Intelligent Card System</a>
            </p>
            <p class="weui-footer__text">Copyright © 2017 S.S.H & Jerry</p>
        </div>
</body>
</html>